.calculator-container {
    width: 200px;
    margin: 0 auto;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    background: #f9f9f9;
}
.display {
    height: 40px;
    background: #eee;
    text-align: right;
    padding: 10px;
    font-size: 18px;
}
.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    padding: 15px;
    font-size: 24px;
    
}